h1, .square {
  text-align: center;
}

.square {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  font-size: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; 
}

.square:hover {
  background-color: #CB1818;
}

.square.rotate {
  transform: rotate(180deg);
}

.squares {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  width: 610px;
  margin: 0 auto;
}

.restart-button-container {
  text-align: center;
  margin-top: 20px;
}

.restart-button-container button {
  background-color: #1F51FF; 
  color: white;
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px;
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.restart-button-container button:hover {
  background-color: #1F51FF; 
}

.result {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}